<div class="col-md-12">
  <h3 class="center">Add Currency</h3>
	<div class="card card-container">
		<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


			<div class="form-group">
				<label for="currency">Currency Code</label>
        <input type="text" maxlength="3" minlength="3"
        class="form-control" name="currency" [(ngModel)]="form.currency"
        required #currency="ngModel" />

				<div class="alert alert-danger" role="alert" *ngIf="f.submitted && currency.invalid">Enter Proper currency code</div>
			</div>

      <div class="form-group">
				<label for="currencyName">Currency Name</label>
        <input type="text" maxlength="20" minlength="3"
        class="form-control" name="currencyName" [(ngModel)]="form.currencyName"
        required #currencyName="ngModel" />

				<div class="alert alert-danger" role="alert" *ngIf="f.submitted && currencyName.invalid">Enter Proper currency name</div>
			</div>

      <div class="form-group">
				<label for="exchangeRate">Exchange Rate</label>
        <input type="number" onkeypress="return event.charCode >= 48" min="0.01" step="0.1"
        class="form-control" name="exchangeRate" [(ngModel)]="form.exchangeRate"
        required #exchangeRate="ngModel" />

				<div class="alert alert-danger" role="alert" *ngIf="f.submitted && exchangeRate.invalid">Enter Proper Exchange Rate</div>
			</div>







			<div class="form-group">
				<button class="btn btn-primary btn-block">Add</button>
			</div>


		</form>
    <div class="overlay" *ngIf="popup">
      <div class="popup">
        <h4>Currency Added</h4>
        <a class="close" (click)="popup = false">&times;</a>
      </div>
    </div>


	</div>
</div>


