<div>
<h2 class="profile">Profile : </h2>
<h5 class="profile ">Name : <strong>{{ currentUser.username }}</strong></h5>
<h5 class="profile ">Email: <strong>{{ currentUser.email }}</strong></h5>
<div class="container" *ngFor='let order of orders'>

  <table class="table">
    <tr>
      <th colspan="2">Order Id : :{{order.orderId}}</th>
    </tr>
    <tr *ngFor='let p of order.products'>
      <td rowspan="10">
        <br>Product Name : {{p.productName}}
        <br>Prize = ₹{{p.prize}}
      </td>
    </tr>
    <tr>
      <td rowspan="10" style="text-align: right;">
        <br><div>Order Total= ₹{{order.orderTotal}}</div>
        <br><button class="dbutton" (click)="cancleOrder(order.orderId)">Cancel</button>
        <p class="green" *ngIf="order.status">Transation Completed</p>
        <br><button class="nav-item pbutton" [routerLink]="['payment',order.orderId]"  *ngIf="!order.status">Payment</button>
      </td>
    </tr>
  </table>

</div>
</div>
