.container{
  background-color: rgb(85, 134, 169);
  opacity: 0.9;
  color: aliceblue;
  text-decoration-color: black;
}
.green{
  color: green;
  font-weight: bold;
}
.pbutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  height: 50px;
  margin: 10px;
}

.dbutton {
  background-color: #df5959; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  height: 50px;
  margin: 10px;
}
.profile{
  color: rgb(127, 183, 223);
  text-shadow: #4CAF50;
  text-decoration: #4CAF50;
}
