.container{
  background-color: rgb(85, 134, 169);
  opacity: 0.9;
  color: aliceblue;
  text-decoration-color: black;
}
.green{
  color: green;
  font-weight: bold;
}
.pbutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  height: 50px;
  margin: 10px;
}

.dbutton {
  background-color: #d8acac; /* Green */
  border: none;
  color: rgb(23, 1, 1);
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 190px;
  height: 50px;
  margin: 10px;
}
.abutton {
  background-color: hwb(207 24% 9%); /* Green */
  border: none;
  color: rgb(23, 1, 1);
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 190px;
  height: 50px;
  margin: 10px;
}
.profile{
  color: rgb(127, 183, 223);
  text-shadow: #4CAF50;
  text-decoration: #4CAF50;
}


/* pop up */
.jw-modal-wrapper{
  display: none;
}

jw-modal {
  /* modals are hidden by default */
  display: none;
}
  .jw-modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* z-index must be higher than .jw-modal-background */
      z-index: 1000;

      /* enables scrolling for tall modals */
      overflow: auto;
  }
      .jw-modal-body {
          padding: 20px;
          background: #fff;

          /* margin exposes part of the modal background */
          margin: 40px;
      }


  .jw-modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;

      /* z-index must be below .jw-modal and above everything else  */
      z-index: 900;
  }


body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
