<div id="app">
	<nav class="navbar navbar-expand navbar-dark bg-dark">

		<ul class="navbar-nav mr-auto" routerLinkActive="active">
			<li class="nav-item" *ngIf="isLoggedIn"><a href="/home" class="nav-link" routerLink="home">Home </a></li>
			<li class="nav-item" *ngIf="showAdminBoard"><a href="/usermanagement" class="nav-link" routerLink="usermanagement">User Management</a></li>
      <li class="nav-item" *ngIf="showAdminBoard"><a href="/exchangerate" class="nav-link" routerLink="exchangerate">Exchange Rate</a></li>
			<li class="nav-item" *ngIf="showUserBoard"><a href="/moneytransfer" class="nav-link" *ngIf="isLoggedIn" routerLink="moneytransfer">Money Transfer</a></li>
      <li class="nav-item" *ngIf="isLoggedIn"><a href="/converter" class="nav-link" routerLink="converter">Converter</a></li>
		</ul>

		<ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
			<li class="nav-item"><a href="/login" class="nav-link" routerLink="login">Login</a></li>
      <li class="nav-item"><a href="/adminlogin" class="nav-link" routerLink="adminlogin">Admin</a></li>
		</ul>


    <ul class="navbar-nav " *ngIf="isLoggedIn">
			<li class="nav-item" *ngIf="showUserBoard"><a href="/cart" class="nav-link" routerLink="cart">Add Account</a></li>
		</ul>

    <ul class="navbar-nav" *ngIf="isLoggedIn">
			<li class="nav-item"><a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a></li>
			<li class="nav-item"><a href class="nav-link" (click)="logout()">LogOut</a></li>
		</ul>

	</nav>
	<div class="container-fluid bg-light">
		<router-outlet></router-outlet>
	</div>
</div>
