<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to Create responsive Homepage</title>
    <link href="" rel="stylesheet">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <!-- <img src="/assets/img/logo.jpg" alt="logo"> -->
        </div>
<ul class="nav-area">
<!-- <li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Portfolio</a></li>
<li><a href="#">Contact</a></li> -->
</ul>
</div>
<div class="welcome-text">
        <h1>
          Forex  <span>Service</span></h1>

    </div>
</header>




</body>
</html>
